<div class="container">
    

    <div class="row justify-content-center mt-3">
        <form class="col-md-6 border rounded p-3 " (ngSubmit)="onLogin()">
            <h3 class="text-center mb-4"> Login</h3>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="email" placeholder="example@gmail.com"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="username"
                [(ngModel)] ="credential.username">

            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                name="password"
                [(ngModel)] ="credential.password">
            </div>


            <div class="mt-4 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Login</button>
                <a  style="text-decoration: none;"  [routerLink]="['/register']"> Create Account</a>
            </div>
            
        </form>
    </div>
</div>
