<div class="container">

    <div class="row mt-3">

        <div class="col mb-3 d-flex  justify-content-between">
            <h3>List the Categories</h3>

            <button class="btn btn-success" (click)="openModal()" >Add Category</button>

        </div>

        <div class="col-12">

            <table class="table  table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Books</th>
                        <th scope="col" class="">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listCategoryResp">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.numberBooks}}</td>
                        <td class="text-end">

                            <button class="btn btn-danger me-2" style="width: 85px" (click) ="deleteCategory(item.ide)" > Delete</button>
                            <button class="btn btn-warning" style="width: 85px" (click)="openModalUpdate(item.ide)" > Update</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>

</div>
