<div class="container">
    

    <div class="row justify-content-center mt-3">
        <form class="col-sm-4 border rounded p-3 " (ngSubmit)="saveUser()">
            <h3 class="text-center mb-4"> Register User</h3>

        

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="username"
                [(ngModel)] ="userDTO.username">

            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                name="password"
                [(ngModel)] ="userDTO.password">
            </div>

            <div class="mb-3">
                <label for="roles" class="form-label">Roles</label>

                <select class="form-select" aria-label="Default select example" id="roles"
                name="roles"
                [(ngModel)] ="userDTO.roles"
                >
                    <option  value="ROLE_USER" selected>USER</option>
                    <option value="ROLE_ADMIN">ADMIN</option>
                </select>

            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Create User</button>
            </div>
            
        </form>
    </div>
</div>